body { background-color: rgb(154, 168, 173);
    color: black; } 



    h1 {text-align: center;}

    h2 {text-align: center;}

    h3 {text-align: center;}
    
    text{text-align: center;}


    
